<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про нас</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div class="image-container">
    <img src="../static/images/logo.jpg">
</div>
<div class="image-cart">
    <img src="../static/images/cart.png">
</div>
<div class="centered-heading">

    <ul>

        <li><a href="/PetProject">Головна</a></li>
        <li><a href="/PetProject/catalog">Каталог</a></li>
        <li><a href="/PetProject/change">Обмін</a></li>
        <li><a href="/PetProject/shipping">Доставка</a></li>
        <li><a href="/PetProject/payment">Оплата</a></li>
        <li><a href="/PetProject/aboutUs">Про нас</a></li>
        <li><a href="/PetProject/warranty">Гарантія</a></li>
        <li><a href="/PetProject/contacts">Контакти</a></li>

    </ul>

</div>

<div class="login-registration">
    <button>Увійти</button>
    <button onclick="window.location.href='/PetProject/addUserForm'">Зареєструватися</button>
</div>

</body>
</html>